.DS_Store
Thumbs.db
Desktop.ini
*.o
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
Makefile.in
missing
flacjacket
src/stamp-h1
.deps/
src/.dirstamp
*.in
*.in~
src/flacjacket-config.h
config.log
Makefile
